body.auth {
    background-color: #CCD1D9;
}

body {
    background-color: rgb(241, 242, 246);
}

.text-shadow-light {
    text-shadow: 2px 2px 2px rgba(255,255,255,1);
}

.nav.nav-sidebar {
    cursor: pointer;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    background-color: #4fc1e9 !important;
    border-color: #4fc1e9 !important;
    color: #fff !important;
}

[data-module=auth] img.logo {
    width: 80%;
    margin-bottom: 40px;
    margin-top: 40px;
}

[data-module=auth] [data-error] {
    display: none;
}

[data-module=auth] [data-error] .alert {
    margin-bottom: 15px;
}

.loader {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.61);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url(/images/loader.gif);
    z-index: 1100;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 40%;
}

.icheckbox_square-blue, .iradio_square-blue {
    background-image: url('/images/blue.png');
}

@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-blue,
    .iradio_square-blue {
        background-image: url(/images/blue@2x.png);
    }
}

.img-thumbnail {
    width: 100%;
    height: 149px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.thumbnail.add div.img-thumbnail {
    background-image: url(/images/add.png);
    height: 181px;
    border: 0;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.image-uploader {
    margin-bottom: 10px;
}

.image-uploader .holder {
    height: 230px;
    background-image: url(/images/test.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.image-uploader .controls {
    position: relative;
    height: 34px;
}

.image-uploader .controls * {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.image-uploader .controls input[type=file] {
    cursor: pointer;
    opacity: 0;
}

.modal-footer {
    margin-top: 15px;
    border-top: 1px solid lightgray;
}

form[role=search] {
    margin: 0px;
}

.section-list:hover, .section-list:active, .section-list:focus {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
}

.section-list .img-thumbnail {
    cursor: pointer;
}

.breadcrumb, [role="menu"] {
    cursor: pointer;
}

.modal-footer [data-form-error] {
    line-height: 32px;
}

.media, .media-body {
    overflow: visible;
}

.products > .item {
    margin-bottom: 10px;
    margin-top: 30px;
}

.products > .item:first-child {
    margin-top: 0px;
}

.btn-link {
    cursor: pointer;
}

.products .media-object {
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

[data-module=productManage] .modal-dialog {
    width: 1000px;
}

[data-module=productManage] .form-control {
    margin-bottom: 10px;
}

[data-module=productManage] .input-group .form-control {
    margin-bottom: 0px;
}

[data-module=productManage] .input-group {
    margin-bottom: 10px;
}

[data-module=productManage] .selecter {
    max-width: 100%;
    margin: 0px;
    margin-bottom: 10px;
}

[data-module=productManage] .selecter .selecter-selected:after {
    top: 0px;
}

[data-module=productManage] .selecter .selecter-options {
    max-height: 200px;
}

[data-module=productManage] .checkbox {
    margin-top: 6px;
}

[data-module=productManage] .images .image {
    margin-bottom: 10px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    margin-right: 10px;
    width: 100px;
}

[data-module=productManage] .images .image:last-child {
    margin-right: 0px;
}

[data-module=productManage] .images .image .btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

[data-module=productManage] .btn-block {
    margin-bottom: 10px;
}

.dropdown-menu li {
    cursor: pointer;
}

[data-module=productManage] .image-button {
    position: relative;
    height: 34px;
}

[data-module=productManage] .image-button a,[data-module=productManage] .image-button input {
    position: absolute;
    top: 0px;
    left: 15px;
    width: 440px;
    height: 34px;
}

[data-module=productManage] .image-button input {
    opacity: 0;
    cursor: pointer;
}

[data-module=section] > .section {
    position: relative;
    z-index: 20;
}

.pagination a {
    cursor: pointer;
}


.image-uploader.company-logo .holder {
    height: 100px;
    background-size: initial;
}

.image-uploader.background-image .holder {
    height: 173px;
    background-size: initial;
}

[data-option] > div {
    padding-right: 0px;
}
[data-option] {
    padding-right: 15px;
}

.option-manage {
    background-color: rgba(255,255,255,0.8);
    min-height: 250px;
    position: absolute;
    top: 0px;
    left: 29px;
    width: 441px;
    z-index: 1;
}

[data-ingredient-manage] {
    z-index: 1051;
}

.modal-backdrop:nth-child(0) {
    z-index: 1050;
}

[data-ingredient-manage] .modal-body {
    height: 350px;
    overflow: scroll;
    overflow-x: hidden;
}

[data-ingredient-manage] [data-ingredient-list] > .row {
    margin-top: 15px;
}