<h3 class="page-header text-shadow-light animated fadeInLeft">Управление меню</h3>

<div class="col-sm-6 col-md-3 animated fadeInLeft">
    <div class="thumbnail">
        <div class="img-thumbnail" style="background-image: url(http://bootflat.github.io/img/thumbnail-1.jpg)"></div>
        <div class="caption text-center">
            <h3>Бар</h3>
            <p><a class="btn btn-warning btn-block" data-edit="true" data-id="menuId" role="button">Редактировать</a></p>
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-3 animated fadeInLeft">
    <div class="thumbnail add">
        <div class="img-thumbnail"></div>
        <div class="caption text-center">
            <p><a class="btn btn-primary btn-block" data-create="true" role="button">Добавить</a></p>
        </div>
    </div>
</div>