<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript: void(0);">Simple Interactive</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.email %> <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header"><%= plugins.translate('menu-account') %></li>
                        <li><a data-menu-settings="true"><%= plugins.translate('menu-settings') %></a></li>
                        <li><a href="#"><%= plugins.translate('menu-change-password') %></a></li>
                        <li><a href="#"><%= plugins.translate('menu-contact-administrator') %></a></li>
                        <li class="divider"></li>
                        <li><a data-menu-exit="true"><%= plugins.translate('menu-logout') %></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" data-menu="true">
            <p class="text-muted text-uppercase text-shadow-light"><%= plugins.translate('menu-content') %></p>
            <ul class="nav nav-sidebar">
                <li data-href="section"><a><%= plugins.translate('menu-section') %></a></li>
                <li data-href="product"><a><%= plugins.translate('menu-products') %></a></li>
            </ul>
            <p class="text-muted text-uppercase"><%= plugins.translate('menu-view') %></p>
            <ul class="nav nav-sidebar">
                <!--li><a href=""><%= plugins.translate('menu-template') %></a></li -->
                <li data-href="skin"><a><%= plugins.translate('menu-skin') %></a></li>
            </ul>
            <p class="text-muted text-uppercase"><%= plugins.translate('menu-analytics') %></p>
            <ul class="nav nav-sidebar">
                <li data-href="statistics"><a><%= plugins.translate('menu-statistics') %></a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" data-container="main">

        </div>
    </div>
</div>