<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title"><%= plugins.translate('add-section') %></h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-xs-12">

                            <div class="image-uploader">
                                <div class="holder"></div>
                                <div class="controls">
                                    <a class="btn btn-info"><%= plugins.translate('click-to-select-an-image') %></a>
                                    <input type="file" data-form-file="true" />
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12">
                            <input type="text" class="form-control" placeholder="<%= plugins.translate('title') %>" data-form-title="true" />
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-7">
                            <div class="text-left text-danger" data-form-error="true"></div>
                        </div>
                        <div class="col-xs-5 text-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><%= plugins.translate('cancel') %></button>
                            <button type="button" class="btn btn-success" data-submit="true" disabled="disabled"><%= plugins.translate('add') %></button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>