<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Редактировать секцию</h4>
                </div>
                <div class="modal-body">
                    <p>Загрузите изображение и введите название</p>

                    <div class="row">

                        <div class="col-xs-12">

                            <div class="image-uploader">
                                <div class="holder" style="background-image: url(<%= image %>)"></div>
                                <div class="controls">
                                    <a class="btn btn-info">Нажмите для выбора изображения</a>
                                    <input type="file" data-file="true" />
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12">
                            <input type="text" class="form-control" placeholder="Название" value="<%= title %>"/>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                    <button type="button" class="btn btn-success" data-submit="true">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>