<% if (breadcrumbs.length) { %>
    <ol class="breadcrumb breadcrumb-arrow animated fadeIn">

        <% for (var i=0; i < breadcrumbs.length; i++) { %>
            <% if (i == breadcrumbs.length - 1) { %>
                <li class="active"><span><%= breadcrumbs[i].title %></span></li>
            <% } else { %>
                <li><a data-nav="back" data-id="<%= i %>"><%= breadcrumbs[i].title %></a></li>
            <% } %>
        <% } %>

    </ol>
<% } %>

<% for (var i=0; i < sections.length; i++) { %>

<div class="col-sm-6 col-md-3 animated fadeIn section">
    <div class="thumbnail section-list">

        <div class="img-thumbnail"

             style="background-image: url(<%= sections[i].image.url %>);"

            <% if (sections[i].productsCount) { %>
                data-nav="position"
            <% } else { %>
                data-nav="section"
            <% } %>

            data-id="<%= sections[i].id %>"
            data-title="<%= sections[i].title %>"
            data-products-count="<%= sections[i].productsCount %>"></div>

        <div class="caption text-center">
            <h3><%= sections[i].title %></h3>
            <p>
            <div class="btn-group btn-block">
                <button type="button" class="btn btn-block btn-primary dropdown-toggle" data-toggle="dropdown">Настройки <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a data-edit="true" data-id="<%= sections[i].id %>"><span class="glyphicon glyphicon-edit"></span> <%= plugins.translate('edit') %></a></li>

                    <% if (sections[i].productsCount) { %>
                        <li><a data-products="true" data-id="<%= sections[i].id %>"><span class="glyphicon glyphicon-shopping-cart"></span> <%= plugins.translate('show-products') %></a></li>
                    <% } else { %>
                        <li class="disabled"><a><span class="glyphicon glyphicon-shopping-cart"></span> <%= plugins.translate('show-products') %></a></li>
                    <% } %>


                    <li class="divider"></li>
                    <li><a data-delete="true" data-id="<%= sections[i].id %>"><span class="glyphicon glyphicon-trash"></span> <%= plugins.translate('remove') %></a></li>
                </ul>
            </div>
            </p>
        </div>
    </div>
</div>

<% } %>

<% if (!currentSection.productsCount) { %>
<div class="col-sm-6 col-md-3 animated fadeIn section">
    <div class="thumbnail add">
        <div class="img-thumbnail"></div>
        <div class="caption text-center">
            <p><a class="btn btn-primary btn-block" data-create="true" role="button"><%= plugins.translate('add') %></a></p>
        </div>
    </div>
</div>
<% } %>