<% if (breadcrumbs.length) { %>
    <ol class="breadcrumb breadcrumb-arrow animated fadeInLeft">

        <% for (var i=0; i < breadcrumbs.length; i++) { %>
            <% if (i == breadcrumbs.length - 1) { %>
                <li class="active"><span><%= breadcrumbs[i].title %></span></li>
            <% } else { %>
                <li><a data-nav="back" data-id="<%= i %>"><%= breadcrumbs[i].title %></a></li>
            <% } %>
        <% } %>

    </ol>
<% } %>

<% for (var i=0; i < sections.lenght; i++) { %>

<div class="col-sm-6 col-md-3 animated fadeInLeft">
    <div class="thumbnail section-list">

        <div class="img-thumbnail"

             style="background-image: url(<%= sections[i].image.url %>);"

            <% if (sections[i].itemsCount) { %>
                data-nav="position"
            <% } else { %>
                data-nav="section"
            <% } %>

            data-id="<%= sections[i].id %>"
            data-title="<%= sections[i].title %>">

        </div>

        <div class="caption text-center">
            <h3><%= sections[i].title %></h3>
            <p><a class="btn btn-warning btn-block" data-edit="true" data-id="<%= sections[i].id %>" role="button">Редактировать</a></p>
        </div>
    </div>
</div>

<% } %>

<div class="col-sm-6 col-md-3 animated fadeInLeft">
    <div class="thumbnail add">
        <div class="img-thumbnail"></div>
        <div class="caption text-center">
            <p><a class="btn btn-primary btn-block" data-create="true" role="button">Добавить</a></p>
        </div>
    </div>
</div>